#custom-header-bar {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}


.header-homepage {
    padding-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent !important;
    color: white;
    position: absolute;
    width: 100%;
    z-index: 10;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    li {
        margin: 0 1vw;
    }
}

.menu-menu-principal-container {
    display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
}


#custom-header-bar {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
#custom-header-bar p {
    display: inline-block;
    text-transform: uppercase;

    &:hover {
        animation-play-state: paused;
    }

}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}


.vertical_bar {
    position: fixed;
    top: 0;
    display: block;
    width: 3vw;
    height: 100%;
    background-color: black;
    z-index: 9;

    h2 {
        font-weight: bold;
        font-size: 60px;
        font-family: 'Dosis';
        text-transform: uppercase;
        position: absolute;
        color: white;
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        text-orientation: mixed;
        margin: 0;
        padding: 0;
        top: 50px;
        right: 0;
        left: -18px;
        letter-spacing: 12px;
    }
}

.menu-menu-principal-container {
    ul {
        list-style-type: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
         li {
            a {
                text-decoration: none;
                color: var(--white);
                font-size: 18px;
            }
         }
    }
}