/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: since 2010
*/

.parent {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, 427px);
    grid-template-rows: repeat(auto-fill, 596px);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    width: 1290px;
    margin: 80px auto 0;


    .child_artiste {
        width: 427px;
        height: 596px;
        background-color: black;
        position: relative;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        img {
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            &:hover {
                -webkit-border-radius: 20px 20px 0 0;
                   -moz-border-radius: 20px 20px 0 0;
                        border-radius: 20px 20px 0 0;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
        }

        &:hover {
            -webkit-border-radius: 25px;
               -moz-border-radius: 25px;
                    border-radius: 25px;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        .show_slider.plus {
            path{
                fill: var(--white);
            }
        }



        .text_artists {

            h3 {
                color: var(--white);
                font-size: 30px;
                font-family: Roboto;
                font-weight: 800;
                word-wrap: break-word;
                margin: 20px 0 0 20px;
            }
    
            p{
                color: white;
                font-size: 16px;
                font-family: Roboto;
                font-weight: 400;
                word-wrap: break-word;
                margin: 20px 0 0 20px;
                width: 75%;
            }

        }

    }
    }

    .pagination {
        width: 1280px;
        margin: 50px auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        .page-numbers {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            color: var(--white);
            font-size: 20px;
            font-family: 'Swomun', serif;
            font-weight: 400;
            word-wrap: break-word;
            text-decoration: none;
            width: 34px;
            height: 34px;
            padding: 25px;
            background-color: black;
            -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
                    border-radius: 50%;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin: 0 5px;
            border-color: black !important;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            &:not(.current, .next, .prev){
                border: 1px solid black;
            }

            &:hover:not(.current, .next, .prev) {
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                background-color: var(--white);
                color: black;
                border: 1px solid black;
                border-color: black !important;
            }
        }

        .current {
            color: black;
            background-color: var(--white);
            border: 1px solid black;
        }

        .next, .prev {
            background-color: transparent;
            color: black;
            font-size: 60px;
            font-family: 'Roboto';
        }

        #prev_arrow {
            -webkit-transform: rotateY(180deg);
               -moz-transform: rotateY(180deg);
                    transform: rotateY(180deg);

            &:hover {
                -webkit-transform: rotateY(180deg) translateX(15px);
                   -moz-transform: rotateY(180deg) translateX(15px);
                        transform: rotateY(180deg) translateX(15px);
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
        }

        #prev_arrow, #next_arrow {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        #next_arrow {
            &:hover {
                -webkit-transform: translateX(15px);
                   -moz-transform: translateX(15px);
                    -ms-transform: translateX(15px);
                     -o-transform: translateX(15px);
                        transform: translateX(15px);
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
        }

    }

    @media screen and (max-width: 767px) {
        .parent {
            -ms-grid-columns: 427px;
            grid-template-columns: 427px;
            width: 80%;
            margin: 20px auto 0;
            gap: 5px;
            align-items: center;
            justify-content: center;
        }

        .child_artiste {
            width: 80% !important;
            -webkit-border-radius: 15px;
               -moz-border-radius: 15px;
                    border-radius: 15px;
            margin: 0 auto;
            .sidebar-artists {
                width: 80%;
            }

            .content {
                padding: 16px 24px;
            }

            img {
                width: 341px;
                height: auto;
                -webkit-border-radius: 15px;
                   -moz-border-radius: 15px;
                        border-radius: 15px;
            }
        }

        .pagination {
            width: 100%;
        }
    }