.parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, 427px);
    grid-template-rows: repeat(auto-fill, 596px);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    width: 1290px;
    margin: 80px auto 0;


    .child_artiste {
        width: 427px;
        height: 596px;
        background-color: black;
        position: relative;
        transition: all 0.3s ease-in-out;

        img {
            transition: all 0.3s ease-in-out;
            &:hover {
                border-radius: 20px 20px 0 0;
                transition: all 0.3s ease-in-out;
            }
        }

        &:hover {
            border-radius: 25px;
            transition: all 0.3s ease-in-out;
        }

        .show_slider.plus {
            path{
                fill: var(--white);
            }
        }



        .text_artists {

            h3 {
                color: var(--white);
                font-size: 30px;
                font-family: Roboto;
                font-weight: 800;
                word-wrap: break-word;
                margin: 20px 0 0 20px;
            }
    
            p{
                color: white;
                font-size: 16px;
                font-family: Roboto;
                font-weight: 400;
                word-wrap: break-word;
                margin: 20px 0 0 20px;
                width: 75%;
            }

        }

    }
    }

    .pagination {
        width: 1280px;
        margin: 50px auto;
        display: flex;
        justify-content: center;

        .page-numbers {
            display: flex;
            color: var(--white);
            font-size: 20px;
            font-family: 'Swomun', serif;
            font-weight: 400;
            word-wrap: break-word;
            text-decoration: none;
            width: 34px;
            height: 34px;
            padding: 25px;
            background-color: black;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            border-color: black !important;
            transition: all 0.3s ease-in-out;

            &:not(.current, .next, .prev){
                border: 1px solid black;
            }

            &:hover:not(.current, .next, .prev) {
                transition: all 0.3s ease-in-out;
                background-color: var(--white);
                color: black;
                border: 1px solid black;
                border-color: black !important;
            }
        }

        .current {
            color: black;
            background-color: var(--white);
            border: 1px solid black;
        }

        .next, .prev {
            background-color: transparent;
            color: black;
            font-size: 60px;
            font-family: 'Roboto';
        }

        #prev_arrow {
            transform: rotateY(180deg);

            &:hover {
                transform: rotateY(180deg) translateX(15px);
                transition: all 0.3s ease-in-out;
            }
        }

        #prev_arrow, #next_arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease-in-out;
            &:hover {
                
            }
        }

        #next_arrow {
            &:hover {
                transform: translateX(15px);
                transition: all 0.3s ease-in-out;
            }
        }

    }

    @media screen and (max-width: 767px) {
        .parent {
            grid-template-columns: 427px;
            width: 80%;
            margin: 20px auto 0;
            gap: 5px;
        }

        .child_artiste {
            width: 80% !important;
            border-radius: 15px;
            .sidebar-artists {
                width: 80%;
            }

            .content {
                padding: 16px 24px;
            }

            img {
                width: 341px;
                height: auto;
                border-radius: 15px;
            }
        }

        .pagination {
            width: 100%;
        }
    }