:root {
    --primary-color: #eb584d;
    --secondary-color: #fccfd3;
    --black: #141413;
    --white: #FFFFFF;
    --background-white: #F1F1F1;
    --electric-blue: #002CDA;
    --marquee-background: #231E1E;
    --grey: #909090;
    --back-rdv: #231E1E;
}