.top {

    background-color: var(--background-white);
    h1 {
        font-family: 'Swomun';
        color: var(--black);
        opacity: 10%;
        font-size: 200px;
        font-weight: 400;
        word-wrap: break-word;
    }
}