footer {
    width: 100%;
    background-color: var(--background-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .parent_footer {
        display: flex;
        flex-direction: row;
        width: 1280px;
        margin: 80px auto 0;
        position: relative;
        justify-content: center;
        align-items: center;

        .insta_footer {
            display: flex;
            background-color: var(--black);
            padding: 20px;
            border-radius: 50%;
            transform: translateX(-50%) rotateZ(355deg);
            
        }

        .facebook_footer {
            height: 91px;
            width: 91px;
            background-color: var(--black);
            padding: 25px;
            border-radius: 25%;
            justify-content: center;
            align-items: center;
            display: flex;
            transform: translateX(50%) rotateZ(9deg);
        }

        .text_footer {
            font-family: 'Swomun', serif;
            position: relative;
            display: flex;
            flex-direction: column;
            line-height: 1;

            #saison {
                color: var(--grey);
                font-size: 60px;
                font-weight: 400;
            }

            #year {
                color: var(--grey);
                font-size: 60px;
                font-weight: 400;
            }

            #after_year {
                margin: 15px 10px 0;
                position: absolute;
            }
        }
    }

    .footer_links {
        font-family: 'Roboto', sans-serif;
        width: 1280px;
        margin: 64px auto 16px;
        display: flex;
        align-items: center;
        justify-content: center;
       a {
        text-decoration: none;
        color: black;

        &:hover {
            color: black;
            text-decoration: underline;
        }
       }
    }
}

.rdv_footer {
    background-color: var(--back-rdv) !important;

    .insta_footer {
        background-color: var(--white) !important;

        path {
            fill: var(--black) !important;
        }
    }

    .facebook_footer {
        background-color: var(--white) !important;

        path {
            fill: var(--black) !important;
        }
    }
}