body {
    background-color: var(--background-white);
    line-height: 1.4;
}

body.sidebar-active {
    overflow: hidden;
}

body:not(.home){
    padding-top: 80px;

    &.fermeture_exceptionnelle {
        padding-top: 156px;
    
        .vertical_bar {
            h2 {
                top: 100px;
            }
        }
    }
}


.home_div {

    margin: 20vw 0 0 13vw;
    display: flex;
    flex-direction: row;
    justify-items: first baseline;
    position: relative;
    z-index: 3;

    .logo_cover {
        background-color: #FFFFFF;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        img {
        width: 5vw;
        }
    }
    
}

.home_div_text {
    margin-left: 2vw;
    h1{
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 68px;
        color: var(--white);
        width: 525px;
        line-height: 1;
    }

    p {
        color: var(--white);
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 20px;
        width: 680px;
        margin-top: 32px;
    }
}


.cover_banner {
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 0;
    position: relative;

}

.cover_banner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity value as needed */
  pointer-events: none; /* Ensure the pseudo-element doesn't interfere with clicks */
}

main {
    .last_expo {
        margin-top: 3vw;
        display: flex;
        flex-direction: row;
        background-color: var(--white);
        border-radius: 15px;
        position: relative;
        .cover_expo {
            width: 50%;
            img {
                border-radius: 15px 0 0 15px;
            }

        }
        .text_expo {
            width: 50%;

            #badge {
                background-color: var(--electric-blue);
                width: 20%;
                text-align: center;
                color: var(--white);
                font-family: 'Dosis', sans-serif;
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 3.20px;
                word-wrap: break-word;
                text-transform: uppercase;
                border-radius: 15px;
                padding: 0.3vw;
                margin-right: auto;
                margin-left: auto;
                margin-top: 5vw;
            }

            .dates {
                margin-top: 1vw;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                p {
                    color: black;
                    font-size: 26px;
                    font-family: Roboto;
                    font-weight: 500;
                    word-wrap: break-word;

                    &:first-of-type {
                        margin-right: 1vw;
                    }

                    &:last-of-type {
                        margin-left: 1vw;
                    }
                }


            }

            #additional_txt {
                width: 100%;
                text-align: center;
                color: black;
                font-size: 16px;
                font-family: Roboto;
                font-weight: 300;
                word-wrap: break-word;
            }

            h2 {
                color: black;
                font-size: 32px;
                font-family: Roboto;
                font-style: italic;
                font-weight: 600;
                word-wrap: break-word;
                text-align: center;
                margin-top: 2vw;
                height: 150px;
            }

            h3 {
                color: black;
                font-size: 28px;
                font-family: Roboto;
                font-weight: 400;
                word-wrap: break-word;
                text-align: center;
            }

            #techniques {
                margin-top: 2vw;
                color: black;
                font-size: 24px;
                font-family: Roboto;
                font-style: italic;
                font-weight: 300;
                word-wrap: break-word;
            }


        }
    }

}

.view_more {
    position: absolute;
    bottom: 20px;
    right: 20px;

    svg {
        transition: all 0.3s ease-in-out;

        &:hover {
        
        transform: rotateZ(90deg);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        
        }
    }

}

.show_slider {
    border: none;
    background: transparent;
}

.sidebar, .sidebar-artists, .sidebar-header {
    position: fixed;
    display: block;
    -webkit-transform: translateZ(0);
    bottom: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: var(--background-white);
    z-index: 99;
    transform: translateX(110%);
    transition: all 0.3s ease-in-out;

    a {
        position: fixed;
    }

    .content {
        h2 {
            color: black;
            font-size: 36px;
            font-family: Roboto;
            font-weight: 900;
            word-wrap: break-word;
        }

        h3 {
            color: black;
            font-size: 28px;
            font-family: Roboto;
            font-weight: 400;
            word-wrap: break-word;
            margin-top: 2vw;
        }

        #slidetech {
            color: black;
            font-size: 24px;
            font-family: Roboto;
            font-style: italic;
            font-weight: 300;
            word-wrap: break-word;
            margin-top: 1vw;
        }

        .expo_content {
            margin-top: 4vw;
            font-family: 'Roboto', sans-serif;

            p{
            font-family: 'Roboto', sans-serif;
            }
            
            
        }

    }

    .close button {
        &:hover {
            cursor: pointer;
        }
    }
}

.sidebar.active, .sidebar-artists.active, .sidebar-header.active {
    transform: translateX(0%);
    transition: all 0.3s ease-in-out;
    box-shadow:0 0 0 10000px rgba(0,0,0,.50);
}

.marquee {
    display: flex;
    justify-content: flex-start;
    background-color: var(--marquee-background);
    overflow: hidden;
    margin-top: 5vw;

    p {
        color: white;
        font-size: 64px;
        font-family: Roboto;
        font-style: italic;
        font-weight: 200;
        text-transform: uppercase;
        white-space: nowrap;
        padding: 0 2vw;
        letter-spacing: 1px;
        animation: marquee 5s linear infinite;
        
    }

}
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }


  .rdv {
    background-color: var(--white);
    padding: 1vw 0 2vw 0;
    .element {
        display: grid;
        grid-template-columns: 20% 50% 20% 10%;
        grid-template-rows: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1vw 0;
        
    }

        .type {
            display: flex;
            justify-items: center;
            align-items: center;       
            color: black;
            font-size: 24px;
            font-family: Roboto;
            font-weight: 300;
            word-wrap: break-word;
            position: relative;
            left: 0;
            p {
                margin-left: 1vw;
            }
        }

        .name {
            justify-items: center;
            color: black;
            font-size: 24px;
            font-family: Roboto;
            font-weight: 400;
            word-wrap: break-word;
            text-align: left;
        }

        .date {
            justify-items: center;
            color: black;
            font-size: 24px;
            font-family: Roboto;
            font-weight: 300;
            word-wrap: break-word;

        }

        .description {
            height: 3vw;
       
            color: black;
            font-size: 20px;
            font-family: Roboto;
            font-weight: 300;
            line-height: 28px;
            word-wrap: break-word;
        }

        .description.active {
            display: block;
            transition: all 0.3s ease-in-out;
            opacity: 1;
        }

        .show_btn {
            border: none;
            text-decoration: none;
            background-color: transparent;

            svg {
                transition: all 0.3s ease-in-out;
            }
            

            &:hover {
                cursor: pointer;
            }
        }

        .rotate svg{
            transform: rotateZ(45deg);
            transition: all 0.3s ease-in-out;
        }

        .button {
            display: flex;
            justify-content: flex-end;

            a {
                text-decoration: none;
                font-family: 'Swomun', serif;
                color: var(--white);
                background-color: var(--black);
                padding: 1vw 2vw;
                margin-top: 2vw;
                border-radius: 25px;
                transition: all 0.3s ease-in-out;
                svg {
                    fill: var(--white);
                    transition: all 0.3s ease-in-out;
                    margin-left: 0.3vw;
                }

                &:hover {
                    color: var(--black);
                    background-color: var(--white);
                    transition: all 0.3s ease-in-out;
                    box-shadow: 5px 5px 15px 5px #D1D1D1;

                    svg {
                        fill: var(--black);
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }

        .grid {
            display: grid; /* 1 */
            grid-template-rows: 0fr; /* 2 */
            transition: grid-template-rows 0.5s ease-in-out; /* 3 */
            border-bottom: 1px solid black;

          }
          
          .grid.open {
            grid-template-rows: 1fr; /* 5 */
          }
          
          .grid-inner {
            overflow: hidden; /* 4 */
          }

  }

  .wrapper {
    width: 1280px;
    margin: 0 auto;
    max-width: 100%;
  }

  .transition {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: #fff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}

.mobile {
    display: none !important;
}

@media all and (max-width: 767px) {

    body {
        width: 100%;
        position: absolute;
        background-color: var(--white);
    }

    .cover_banner {
        width: 100%;
        height: 600px;
    }

        .home_div_text {
            width: 100%;
            h1 {
                font-size: 38px;
                width: 100%;
                text-align: center;
            }
        }

        .home_div {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 270px 0;
            .logo_cover {
                margin-top: 30px;
                padding: 30px;
                img {
                    width: 80px;
                }
            }

            .home_div_text {
                p {
                    display: none;
                }
            }
        }

        .last_expo {
            flex-direction: column !important;
            .cover_expo {
                width: 285px !important;
                margin: 0 auto;
                margin-top: 2vh;
                img {
                    width: 30vh;
                    height: auto;
                    border-radius: 15px !important;
                }
            }
            .text_expo {
                width: 100% !important;

                .dates {
                    p {
                        font-size: 16px !important;
                    }
                    
                }

                #additional_txt {
                    font-size: 12px !important;
                }

                h2 {
                    font-size: 18px !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                h3 {
                    font-size: 20px !important;
                }

                #techniques {
                    font-size: 12px !important;
                    padding-bottom: 32px;
                }


                .view_more {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    bottom: 0;
                    right: 0;
                    margin-bottom: 16px;
                }
            }
        }

        #badge {
            width: 120px !important;
            transform: translateY(-355px) translateX(100%);
            font-size: 14px !important;
            position: absolute;
        }

        .wrap_center {
            padding-left: 0;
        }

        main {
            margin-top: 32px;
            .last_expo {
                background-color: var(--background-white);
                .cover_expo{
                    img {
                        width: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }

        .rdv {

            margin-top: 17px;
            .element {
                display: none;
            }
            .mobile {
                display: flex !important;
                justify-content: space-around;
                align-items: center;
                .name {
                    p {
                        font-size: 12px;

                        &:first-of-type {
                            font-size: 15px;
                        }
                        
                    }
                }

                .grid-inner {
                    height: 0px;
                    
                    .description {
                        font-size: 16px;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                &.grid {
                    display: grid !important;
                    grid-template-rows: 0fr;
                    transition: grid-template-rows 0.5s ease-in-out;
                    border-bottom: 1px solid black;
    
                    &.open {
                        grid-template-rows: 50px;
                        transition: grid-template-rows 0.5s ease-in-out;

                        .grid-inner {
                            height: 50px;
                        }
                    }
                }

                & .show_btn {
                    border: none;
                    text-decoration: none;
                    background-color: transparent;
        
                    svg {
                        transition: all 0.3s ease-in-out;
                        width: 30px;
                    }
                    
        
                    &:hover {
                        cursor: pointer;
                    }
                }

            }

            .type {
                svg {
                    width: 15px;
                    height: 15px;
                }
            }

            .date {
                font-size: 12px;
            }

            .grid {
                display: none;
            }

            .button {
                margin: 20px -10px ;
        }

}

    footer {
        width: 100%;
        margin: 0 auto;

        .parent_footer {
            width: 100% !important;


            .insta_footer {
                transform: translateX(-20%) rotateZ(355deg) !important;
                padding: 15px !important;
                svg {
                    width: 30px;
                    height: 30px;
                }
            }

            .facebook_footer {
                width: 70px !important;
                height: 70px !important;
                transform: translateX(40%) rotateZ(25deg) !important;
                padding: 20px !important;
            }
        }

        .footer_links {
            width: 100% !important;
        }
    }

}