/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: since 2010
*/

body {
    background-color: var(--background-white);
    line-height: 1.4;
}

body.sidebar-active {
    overflow: hidden;
}

body:not(.home){
    padding-top: 80px;

    &.fermeture_exceptionnelle {
        padding-top: 156px;
    
        .vertical_bar {
            h2 {
                top: 100px;
            }
        }
    }
}


.home_div {

    margin: 20vw 0 0 13vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    justify-items: first baseline;
    position: relative;
    z-index: 3;

    .logo_cover {
        background-color: #FFFFFF;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
        width: 150px;
        height: 150px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;

        img {
        width: 5vw;
        }
    }
    
}

.home_div_text {
    margin-left: 2vw;
    h1{
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 68px;
        color: var(--white);
        width: 525px;
        line-height: 1;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    p {
        color: var(--white);
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 20px;
        width: 680px;
        margin-top: 32px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}


.cover_banner {
    top: 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 0;
    position: relative;

}

.cover_banner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity value as needed */
  pointer-events: none; /* Ensure the pseudo-element doesn't interfere with clicks */
}

main {
    .last_expo {
        margin-top: 3vw;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
           -moz-box-orient: horizontal;
           -moz-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        background-color: var(--white);
        -webkit-border-radius: 15px;
           -moz-border-radius: 15px;
                border-radius: 15px;
        position: relative;
        .cover_expo {
            width: 50%;
            img {
                -webkit-border-radius: 15px 0 0 15px;
                   -moz-border-radius: 15px 0 0 15px;
                        border-radius: 15px 0 0 15px;
                height: 100%;
            }

        }
        .text_expo {
            width: 50%;

            #badge {
                background-color: var(--electric-blue);
                width: 20%;
                text-align: center;
                color: var(--white);
                font-family: 'Dosis', sans-serif;
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 3.20px;
                word-wrap: break-word;
                text-transform: uppercase;
                -webkit-border-radius: 15px;
                   -moz-border-radius: 15px;
                        border-radius: 15px;
                padding: 0.3vw;
                margin-right: auto;
                margin-left: auto;
                margin-top: 5vw;
            }

            .dates {
                margin-top: 1vw;
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -webkit-flex-direction: row;
                   -moz-box-orient: horizontal;
                   -moz-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                   -moz-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                p {
                    color: black;
                    font-size: 26px;
                    font-family: Roboto;
                    font-weight: 500;
                    word-wrap: break-word;

                    &:first-of-type {
                        margin-right: 1vw;
                    }

                    &:last-of-type {
                        margin-left: 1vw;
                    }
                }


            }

            #additional_txt {
                width: 100%;
                text-align: center;
                color: black;
                font-size: 16px;
                font-family: Roboto;
                font-weight: 300;
                word-wrap: break-word;
            }

            h2 {
                color: black;
                font-size: 32px;
                font-family: Roboto;
                font-style: italic;
                font-weight: 600;
                word-wrap: break-word;
                text-align: center;
                margin-top: 2vw;
                height: 150px;
            }

            h3 {
                color: black;
                font-size: 28px;
                font-family: Roboto;
                font-weight: 400;
                word-wrap: break-word;
                text-align: center;
            }

            #techniques {
                margin-top: 2vw;
                color: black;
                font-size: 24px;
                font-family: Roboto;
                font-style: italic;
                font-weight: 300;
                word-wrap: break-word;
            }


        }
    }

}

.view_more {
    position: absolute;
    bottom: 20px;
    right: 20px;

    svg {
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        &:hover {
        
        -webkit-transform: rotateZ(90deg);
        
           -moz-transform: rotateZ(90deg);
        
            -ms-transform: rotate(90deg);
        
             -o-transform: rotateZ(90deg);
        
                transform: rotateZ(90deg);
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        
        }
    }

}

.show_slider, .header_show_slider {
    border: none;
    background: transparent;
}

.sidebar, .sidebar-artists, .sidebar-header {
    position: fixed;
    display: block;
    -webkit-transform: translateZ(0);
    bottom: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: var(--background-white);
    z-index: 99;
    -webkit-transform: translateX(110%);
       -moz-transform: translateX(110%);
        -ms-transform: translateX(110%);
         -o-transform: translateX(110%);
            transform: translateX(110%);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    a {
        position: fixed;
    }

    .content {
        h2 {
            color: black;
            font-size: 36px;
            font-family: Roboto;
            font-weight: 900;
            word-wrap: break-word;
        }

        h3 {
            color: black;
            font-size: 28px;
            font-family: Roboto;
            font-weight: 400;
            word-wrap: break-word;
            margin-top: 2vw;
        }

        #slidetech {
            color: black;
            font-size: 24px;
            font-family: Roboto;
            font-style: italic;
            font-weight: 300;
            word-wrap: break-word;
            margin-top: 1vw;
        }

        .expo_content {
            margin-top: 4vw;
            font-family: 'Roboto', sans-serif;

            p{
            font-family: 'Roboto', sans-serif;
            }
            
            
        }

    }

    .close button {
        &:hover {
            cursor: pointer;
        }
    }
}

.sidebar.active, .sidebar-artists.active, .sidebar-header.active {
    -webkit-transform: translateX(0%);
       -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
         -o-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow:0 0 0 10000px rgba(0,0,0,.50);
       -moz-box-shadow:0 0 0 10000px rgba(0,0,0,.50);
            box-shadow:0 0 0 10000px rgba(0,0,0,.50);
}

.marquee {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: var(--marquee-background);
    overflow: hidden;
    margin-top: 5vw;

    p {
        color: white;
        font-size: 64px;
        font-family: Roboto;
        font-style: italic;
        font-weight: 200;
        text-transform: uppercase;
        white-space: nowrap;
        padding: 0 2vw;
        letter-spacing: 1px;
        -webkit-animation: marquee 5s linear infinite;
           -moz-animation: marquee 5s linear infinite;
             -o-animation: marquee 5s linear infinite;
                animation: marquee 5s linear infinite;
        
    }

}
  @-webkit-keyframes marquee {
    0% { -webkit-transform: translateX(0); transform: translateX(0); }
    100% { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
  }
  @-moz-keyframes marquee {
    0% { -moz-transform: translateX(0); transform: translateX(0); }
    100% { -moz-transform: translateX(-100%); transform: translateX(-100%); }
  }
  @-o-keyframes marquee {
    0% { -o-transform: translateX(0); transform: translateX(0); }
    100% { -o-transform: translateX(-100%); transform: translateX(-100%); }
  }
  @keyframes marquee {
    0% { -webkit-transform: translateX(0); -moz-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
    100% { -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); }
  }


  .rdv {
    background-color: var(--white);
    padding: 1vw 0 2vw 0;
    .element {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 20% 50% 20% 10%;
        grid-template-columns: 20% 50% 20% 10%;
        -ms-grid-rows: 100%;
        grid-template-rows: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        padding: 1vw 0;
        
    }
    .element > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        
    }
    .element > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        
    }
    .element > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        
    }
    .element > *:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 4;
        
    }

        .type {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-items: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;       
            color: black;
            font-size: 24px;
            font-family: Roboto;
            font-weight: 300;
            word-wrap: break-word;
            position: relative;
            left: 0;
            p {
                margin-left: 1vw;
            }
        }

        .name {
            justify-items: center;
            color: black;
            font-size: 24px;
            font-family: Roboto;
            font-weight: 400;
            word-wrap: break-word;
            text-align: left;
        }

        .date {
            justify-items: center;
            color: black;
            font-size: 24px;
            font-family: Roboto;
            font-weight: 300;
            word-wrap: break-word;

        }

        .description {
            height: 3vw;
       
            color: black;
            font-size: 20px;
            font-family: Roboto;
            font-weight: 300;
            line-height: 28px;
            word-wrap: break-word;
        }

        .description.active {
            display: block;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            opacity: 1;
        }

        .show_btn {
            border: none;
            text-decoration: none;
            background-color: transparent;

            svg {
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
            

            &:hover {
                cursor: pointer;
            }
        }

        .rotate svg{
            -webkit-transform: rotateZ(45deg);
               -moz-transform: rotateZ(45deg);
                -ms-transform: rotate(45deg);
                 -o-transform: rotateZ(45deg);
                    transform: rotateZ(45deg);
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        .button {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
               -moz-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;

            a {
                text-decoration: none;
                font-family: 'Swomun', serif;
                color: var(--white);
                background-color: var(--black);
                padding: 1vw 2vw;
                margin-top: 2vw;
                -webkit-border-radius: 25px;
                   -moz-border-radius: 25px;
                        border-radius: 25px;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                svg {
                    fill: var(--white);
                    -webkit-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    margin-left: 0.3vw;
                }

                &:hover {
                    color: var(--black);
                    background-color: var(--white);
                    -webkit-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    -webkit-box-shadow: 5px 5px 15px 5px #D1D1D1;
                       -moz-box-shadow: 5px 5px 15px 5px #D1D1D1;
                            box-shadow: 5px 5px 15px 5px #D1D1D1;

                    svg {
                        fill: var(--black);
                        -webkit-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }

        .grid {
            display: -ms-grid;
            display: grid; /* 1 */
            -ms-grid-rows: 0fr;
            grid-template-rows: 0fr; /* 2 */
            -webkit-transition: grid-template-rows 0.5s ease-in-out;
            -o-transition: grid-template-rows 0.5s ease-in-out;
            -moz-transition: grid-template-rows 0.5s ease-in-out;
            transition: grid-template-rows 0.5s ease-in-out;
            transition: grid-template-rows 0.5s ease-in-out, -ms-grid-rows 0.5s ease-in-out; /* 3 */
            border-bottom: 1px solid black;

          }
          
          .grid.open {
            -ms-grid-rows: 1fr;
            grid-template-rows: 1fr; /* 5 */
          }
          
          .grid-inner {
            overflow: hidden; /* 4 */
          }

  }

  .wrapper {
    width: 1280px;
    margin: 0 auto;
    max-width: 100%;
  }

  .transition {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: #fff;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
     -ms-transform: scaleY(0);
      -o-transform: scaleY(0);
         transform: scaleY(0);
}

.mobile {
    display: none !important;
}

#homepage_title {
    .word {
    -webkit-transform: translateY(150px) rotate(10deg);
       -moz-transform: translateY(150px) rotate(10deg);
        -ms-transform: translateY(150px) rotate(10deg);
         -o-transform: translateY(150px) rotate(10deg);
            transform: translateY(150px) rotate(10deg);
    -webkit-transition: -webkit-transform .7s;
    transition: -webkit-transform .7s;
    -o-transition: -o-transform .7s;
    -moz-transition: transform .7s, -moz-transform .7s;
    transition: transform .7s;
    transition: transform .7s, -webkit-transform .7s, -moz-transform .7s, -o-transform .7s;
    opacity: 0;
}
}


#homepage_paragraph{
    .word {
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}

@media screen and (max-width: 767px) {

    body {
        width: 100%;
        position: absolute;
        background-color: var(--white);
    }

    .cover_banner {
        width: 100%;
        height: 600px;
    }

        .home_div_text {
            width: 100%;
            h1 {
                font-size: 38px;
                width: 100%;
                text-align: center;
            }
        }

        .home_div {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -webkit-flex-direction: column-reverse;
               -moz-box-orient: vertical;
               -moz-box-direction: reverse;
                -ms-flex-direction: column-reverse;
                    flex-direction: column-reverse;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            width: 100%;
            margin: 270px 0;
            .logo_cover {
                margin-top: 30px;
                padding: 30px;
                img {
                    width: 80px;
                }
            }

            .home_div_text {
                p {
                    display: none;
                }
            }
        }

        .last_expo {
            -webkit-box-orient: vertical !important;
            -webkit-box-direction: normal !important;
            -webkit-flex-direction: column !important;
               -moz-box-orient: vertical !important;
               -moz-box-direction: normal !important;
                -ms-flex-direction: column !important;
                    flex-direction: column !important;
            .cover_expo {
                width: 285px !important;
                margin: 0 auto;
                margin-top: 2vh;
                img {
                    width: 30vh;
                    height: auto;
                    -webkit-border-radius: 15px !important;
                       -moz-border-radius: 15px !important;
                            border-radius: 15px !important;
                }
            }
            .text_expo {
                width: 100% !important;

                .dates {
                    p {
                        font-size: 16px !important;
                    }
                    
                }

                #additional_txt {
                    font-size: 12px !important;
                }

                h2 {
                    font-size: 18px !important;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                       -moz-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                       -moz-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    padding: 0 20px 0;
                }

                h3 {
                    font-size: 20px !important;
                }

                #techniques {
                    font-size: 12px !important;
                    padding-bottom: 32px;
                }


                .view_more {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -webkit-flex-direction: column;
                       -moz-box-orient: vertical;
                       -moz-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                       -moz-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                       -moz-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    position: relative;
                    bottom: 0;
                    right: 0;
                    margin-bottom: 16px;
                }
            }
        }

        #badge {
            width: 120px !important;
            -webkit-transform: translateY(-355px) translateX(100%);
               -moz-transform: translateY(-355px) translateX(100%);
                -ms-transform: translateY(-355px) translateX(100%);
                 -o-transform: translateY(-355px) translateX(100%);
                    transform: translateY(-355px) translateX(100%);
            font-size: 14px !important;
            position: absolute;
        }

        .wrap_center {
            padding-left: 0;
        }

        main {
            margin-top: 32px;
            .last_expo {
                background-color: var(--background-white);
                .cover_expo{
                    img {
                        width: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }

        .rdv {

            margin-top: 17px;
            .element {
                display: none;
            }
            .mobile {
                display: -webkit-box !important;
                display: -webkit-flex !important;
                display: -moz-box !important;
                display: -ms-flexbox !important;
                display: flex !important;
                -webkit-justify-content: space-around;
                    -ms-flex-pack: distribute;
                        justify-content: space-around;
                -webkit-box-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                .name {
                    p {
                        font-size: 12px;

                        &:first-of-type {
                            font-size: 15px;
                        }
                        
                    }
                }

                .grid-inner {
                    height: 0px;
                    
                    .description {
                        font-size: 16px;
                        height: 100%;
                        width: 100%;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -webkit-align-items: center;
                           -moz-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        -webkit-box-pack: center;
                        -webkit-justify-content: center;
                           -moz-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                    }
                }
                &.grid {
                    display: -ms-grid !important;
                    display: grid !important;
                    -ms-grid-rows: 0fr;
                    grid-template-rows: 0fr;
                    -webkit-transition: grid-template-rows 0.5s ease-in-out;
                    -o-transition: grid-template-rows 0.5s ease-in-out;
                    -moz-transition: grid-template-rows 0.5s ease-in-out;
                    transition: grid-template-rows 0.5s ease-in-out;
                    transition: grid-template-rows 0.5s ease-in-out, -ms-grid-rows 0.5s ease-in-out;
                    border-bottom: 1px solid black;
    
                    &.open {
                        -ms-grid-rows: 50px;
                        grid-template-rows: 50px;
                        -webkit-transition: grid-template-rows 0.5s ease-in-out;
                        -o-transition: grid-template-rows 0.5s ease-in-out;
                        -moz-transition: grid-template-rows 0.5s ease-in-out;
                        transition: grid-template-rows 0.5s ease-in-out;
                        transition: grid-template-rows 0.5s ease-in-out, -ms-grid-rows 0.5s ease-in-out;

                        .grid-inner {
                            height: 50px;
                        }
                    }
                }

                & .show_btn {
                    border: none;
                    text-decoration: none;
                    background-color: transparent;
        
                    svg {
                        -webkit-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                        width: 30px;
                    }
                    
        
                    &:hover {
                        cursor: pointer;
                    }
                }

            }

            .type {
                svg {
                    width: 15px;
                    height: 15px;
                }
            }

            .date {
                font-size: 12px;
            }

            .grid {
                display: none;
            }

            .button {
                margin: 20px -10px ;
        }

}

    footer {
        width: 100%;
        margin: 0 auto;

        .parent_footer {
            width: 100% !important;


            .insta_footer {
                -webkit-transform: translateX(-20%) rotateZ(355deg) !important;
                   -moz-transform: translateX(-20%) rotateZ(355deg) !important;
                    -ms-transform: translateX(-20%) rotate(355deg) !important;
                     -o-transform: translateX(-20%) rotateZ(355deg) !important;
                        transform: translateX(-20%) rotateZ(355deg) !important;
                padding: 15px !important;
                svg {
                    width: 30px;
                    height: 30px;
                }
            }

            .facebook_footer {
                width: 70px !important;
                height: 70px !important;
                -webkit-transform: translateX(40%) rotateZ(19deg) !important;
                   -moz-transform: translateX(40%) rotateZ(19deg) !important;
                    -ms-transform: translateX(40%) rotate(19deg) !important;
                     -o-transform: translateX(40%) rotateZ(19deg) !important;
                        transform: translateX(40%) rotateZ(19deg) !important;
                padding: 20px !important;
            }
        }

        .footer_links {
            width: 100% !important;
        }
    }

}